// #title {
//   font-size: 1.5em;
// }
.ExtendedForecast {
  height: 60vh;
}

.fiveDayForecast {
  width: 85%;
  height: 70vh;
  background-color: $color-forecast-background;
  border: 2px solid #74a0b5;
  margin: 10px auto;
}

.forecast {
  font-size: 1.2em;
  font-weight: bold;
  margin: 40px;
  li {
    background-color: $color-view-forecast;
    display: flex;
    width: 95%;
    height: 40px;
    border: 2px solid darken($color-view-forecast, 20);
    margin: 15px auto;
    align-items: center;
    border-radius: 5px;
  }
}
