@import '_reset';
@import '_variables';
@import '_mixins';
@import '_homepage';
@import '_header-style';
@import '_settings';
@import '_five-day';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-main-background;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
}

.page-title {
  font-size: 3em;
  height: 13vh;
  padding: 1% 5%;
}
