@import '_reset';
@import '_variables';
@import 'header-style';
@import '_five-day';
@import '_settings';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-main-background;
  // font-family: $main-font;
}

body,
.root,
.App {
  height: 100%;
}
