body {
  background-color: #eeeeee;
}

#title {
  font-size: 1.5em;
}

#fiveDayForecast {
  width: 85%;
  height: 500px;
  background-color: #d5e9f3;
  border: 2px solid #74a0b5;
  margin: auto;
}

#forecast{
  font-size: 1.2em;
  font-weight: bold;
  margin: 40px;
}
